Q1/Carros.dtd

<!ELEMENT listaautomoveis (automovel+)>
<!ELEMENT automovel (descricao, caracteristicas, preco)>
<!ELEMENT descricao (#PCDATA)>
<!ATTLIST descricao combustivel (gasolina |gasoleo|GLP) #REQUIRED>
<!ELEMENT caracteristicas (cor, quilometragem, fotografia, obs)>
<!ELEMENT cor (#PCDATA)>
<!ATTLIST cor nome CDATA #REQUIRED>
<!ELEMENT quilometragem (#PCDATA)>
<!ELEMENT fotografia (#PCDATA)>
<!ELEMENT preco (#PCDATA)>
<!ELEMENT obs (#PCDATA)>
